html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Roboto";
}

article,
aside,
footer,
header,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Roboto";
}

.chat {
  list-style: none;
  background: none;
  margin: 0;
  padding: 0 0 50px 0;
  margin-top: 60px;
  margin-bottom: 10px;
}
.chat li {
  padding: 0.5rem;
  overflow: hidden;
  display: flex;
}
.chat .avatar {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  z-index: 2;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
}
.chat .avatar img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.chat .day {
  position: relative;
  display: block;
  text-align: center;
  color: #c0c0c0;
  height: 20px;
  box-shadow: inset 20px 0px 0px #e5e5e5, inset -20px 0px 0px #e5e5e5,
    inset 0px -2px 0px #d7d7d7;
  line-height: 38px;
  margin-top: 5px;
  margin-bottom: 20px;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.msg {
  background: #00897b;
  min-width: 50px;
  padding: 15px;
  border-radius: 2px;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.msg p {
  font-size: 0.8rem;
  margin: 0 0 0.2rem 0;
  color: #ffffff;
}

.msg time {
  font-size: 0.7rem;
  color: #ccc;
  margin-top: 3px;
  float: right;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input.textarea {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 50px;
  z-index: 99;
  background: #fafafa;
  border: none;
  outline: none;
  padding-left: 55px;
  padding-right: 55px;
  color: #666;
  border: solid 1px rgba(160, 160, 160, 0.3);
  font-weight: 400;
}

body {
  -webkit-text-size-adjust: none;
}

@-ms-viewport {
  width: device-width;
}

body {
  -ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {
  html,
  body {
    min-width: 320px;
  }
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  -moz-transition: color 0.2s ease, border-bottom-color 0.2s ease;
  -webkit-transition: color 0.2s ease, border-bottom-color 0.2s ease;
  -ms-transition: color 0.2s ease, border-bottom-color 0.2s ease;
  transition: color 0.2s ease, border-bottom-color 0.2s ease;
  border-bottom: dotted 1px rgba(160, 160, 160, 0.65);
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3c3b3b;
  font-weight: 800;
  letter-spacing: 0.25em;
  line-height: 1.65;
  margin: 0 0 1em 0;
  text-transform: uppercase;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  border-bottom: 0;
}

h2 {
  font-size: 1.1em;
}

h3 {
  font-size: 0.9em;
}

h4 {
  font-size: 0.7em;
}

h5 {
  font-size: 0.7em;
}

h6 {
  font-size: 0.7em;
}

.author {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: -moz-flex-end;
  -webkit-justify-content: -webkit-flex-end;
  -ms-justify-content: -ms-flex-end;
  justify-content: flex-end;
  border-bottom: 0;

  white-space: nowrap;
}

.author .name {
  -moz-transition: border-bottom-color 0.2s ease;
  -webkit-transition: border-bottom-color 0.2s ease;
  -ms-transition: border-bottom-color 0.2s ease;
  transition: border-bottom-color 0.2s ease;
  border-bottom: dotted 1px rgba(160, 160, 160, 0.65);
  display: block;
  margin: 0 1.5em 0 0;
}

.author img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.author:hover .name {
  border-bottom-color: transparent;
}

ul.posts {
  list-style: none;
  padding: 0;
}

ul.posts li {
  border-top: dotted 1px rgba(160, 160, 160, 0.3);
  margin: 1.5em 0 0 0;
  padding: 1.5em 0 0 0;
}

ul.posts li:first-child {
  border-top: 0;
  margin-top: 0;
  padding-top: 0;
}

ul.posts article {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: -moz-flex-start;
  -webkit-align-items: -webkit-flex-start;
  -ms-align-items: -ms-flex-start;
  align-items: flex-start;
  -moz-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

ul.posts article header {
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -ms-flex: 1;
}

ul.posts article header h3 {
  font-size: 0.7em;
  margin-top: 0.125em;
}

ul.posts article header .published {
  display: block;

  margin: -0.625em 0 1.7em 0;
  text-transform: uppercase;
}

ul.posts article header > :last-child {
  margin-bottom: 0;
}

.users {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.users header {
  padding: 1.25em 4.25em 0.1em 1.25em;
  min-height: 4em;
  position: relative;
  flex-grow: 1;
}

.users header h3 {
  font-size: 0.7em;
}

.users header .published {
  display: block;
  font-size: 0.6em;
  font-weight: 400;
  letter-spacing: 0.25em;
  margin: -0.625em 0 1.7em 0;
  text-transform: uppercase;
}

.users header .author {
  position: absolute;
  right: 2em;
  top: 2em;
}

.users {
  margin: 0 0 2em 0;
}

@media screen and (max-width: 1280px) {
  .users {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: calc(100% + 2em);
  }

  .users > * {
    margin: 2em 2em 0 0;
    width: calc(50% - 2em);
  }

  .users > :nth-child(-n + 2) {
    margin-top: 0;
  }
}

@media screen and (max-width: 480px) {
  .users {
    display: block;
    width: 100%;
  }

  .users > * {
    margin: 0 0 2em 0;
    width: 100%;
  }
}

.post {
  padding: 3em 3em 1em 3em;
  background: #ffffff;
  margin: 0 0 3em 0;
  position: relative;
  max-height: calc(100vh - 9rem);
  overflow-y: auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.post > header {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  border-bottom: solid 1px rgba(160, 160, 160, 0.3);
  left: -3em;
  margin: -3em 0 3em 0;
  position: relative;
  width: calc(100% + 6em);
}

.post > header .title {
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -ms-flex: 1;
  padding: 3.75em 3em 3.3em 3em;
}

.post > header .title h2 {
  font-weight: 900;
  font-size: 1.5em;
}

.post > header .title > :last-child {
  margin-bottom: 0;
}

.post > header .meta {
  padding: 3.75em 3em 1.75em 3em;
  border-left: solid 1px rgba(160, 160, 160, 0.3);
  min-width: 17em;
  text-align: right;
  width: 17em;
}

.post > header .meta > * {
  margin: 0 0 1em 0;
}

.post > header .meta > :last-child {
  margin-bottom: 0;
}

.post > header .meta .published {
  color: #3c3b3b;
  display: block;
  font-size: 0.7em;
  font-weight: 800;
  letter-spacing: 0.25em;
  margin-top: 0.5em;
  text-transform: uppercase;
  white-space: nowrap;
}

.post > footer {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  position: fixed;
}

@media screen and (max-width: 980px) {
  .post {
    border-left: 0;
    border-right: 0;
    left: -3em;
    width: calc(100% + (3em * 2));
  }

  .post > header {
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 3.75em 3em 1.25em 3em;
    border-left: 0;
  }

  .post > header .title {
    -ms-flex: 0 1 auto;
    margin: 0 0 2em 0;
    padding: 0;
    text-align: center;
  }

  .post > header .meta {
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    border-left: 0;
    margin: 0 0 2em 0;
    padding-top: 0;
    padding: 0;
    text-align: left;
    width: 100%;
  }

  .post > header .meta > * {
    border-left: solid 1px rgba(160, 160, 160, 0.3);
    margin-left: 2em;
    padding-left: 2em;
  }

  .post > header .meta > :first-child {
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
  }

  .post > header .meta .published {
    margin-bottom: 0;
    margin-top: 0;
  }

  .post > header .meta .author {
    -moz-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    margin-bottom: 0;
  }

  .post > header .meta .author .name {
    margin: 0 0 0 1.5em;
  }

  .post > header .meta .author img {
    width: 3.5em;
  }
}

@media screen and (max-width: 736px) {
  .post {
    padding: 1.5em 1.5em 0.1em 1.5em;
    left: -1.5em;
    margin: 0 0 2em 0;
    width: calc(100% + (1.5em * 2));
  }

  .post > header {
    padding: 3em 1.5em 0.5em 1.5em;
    left: -1.5em;
    margin: -1.5em 0 1.5em 0;
    width: calc(100% + 3em);
  }

  .post > header .title h2 {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 480px) {
  .post > header .meta {
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .post > header .meta > * {
    border-left: 0;
    margin: 1em 0 0 0;
    padding-left: 0;
  }

  .post > header .meta .author .name {
    display: none;
  }

  .post > .image.featured {
    margin-left: -1.5em;
    margin-top: calc(-1.5em - 1px);
    width: calc(100% + 3em);
  }

  .post > footer {
    -moz-align-items: -moz-stretch;
    -webkit-align-items: -webkit-stretch;
    -ms-align-items: -ms-stretch;
    align-items: stretch;
    -moz-flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .post > footer .stats {
    text-align: center;
  }

  .post > footer .stats li {
    margin: 0 0 0 1.25em;
    padding: 0 0 0 1.25em;
  }
}

section.special,
article.special {
  text-align: center;
}

header p {
  font-size: 0.7em;
  font-weight: 400;
  letter-spacing: 0.25em;
  line-height: 2.5;
  margin-top: -1em;
  text-transform: uppercase;
}

body {
  padding-top: 3.5em;
}

#header {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  background-color: #2196f3;

  border: solid 1px rgba(160, 160, 160, 0.3);
  height: 3.5em;
  left: 0;
  line-height: 3.5em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

#header a {
  color: #ffffff;
  text-decoration: none;
}

#header h1 {
  height: inherit;
  line-height: inherit;
  padding: 0 0 0 1.5em;
  white-space: nowrap;
}

#header .main {
  height: inherit;
  line-height: inherit;
  text-align: right;
}

@media screen and (max-width: 980px) {
  #header .links {
    display: none;
  }
}

@media screen and (max-width: 736px) {
  #header {
    height: 2.75em;
    line-height: 2.75em;
  }

  #header h1 {
    padding: 0 0 0 1em;
  }
}

#wrapper {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -moz-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  max-width: 100%;
  opacity: 1;
  width: 90em;
}

body.is-menu-visible #wrapper {
  opacity: 0.15;
}

@media screen and (max-width: 1680px) {
  #wrapper {
    padding: 1em;
  }
}

@media screen and (max-width: 1280px) {
  #wrapper {
    display: block;
  }
}

@media screen and (max-width: 736px) {
  #wrapper {
    padding: 1.5em;
  }
}

body.single #wrapper {
  display: block;
}

#main {
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -ms-flex: 1;

  width: 100%;
}

#sidebar {
  margin-right: 3em;
  min-width: 22em;
  width: 22em;
  max-height: calc(100vh - 9rem);
  overflow-y: auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#sidebar > * {
  margin: 3em 0 0 0;
  padding: 3em 0 0 0;
}

#sidebar > :first-child {
  border-top: 0;
  margin-top: 0;
  padding-top: 0;
}

@media screen and (max-width: 1280px) {
  #sidebar {
    margin: 3em 0 0 0;
    min-width: 0;
    padding: 3em 0 0 0;
    width: 100%;
    overflow-y: scroll;
  }
}
